/* search box */
#searchBox {
    display: none;
    position: fixed;
    left: 50%;
    top: calc(5vw + 40px);
    transform: translateX(-50%);
    z-index: 4;
    width: 650px;
    background-color: white;
    box-shadow: 0 1px 6px 1px var(--dark-gray);
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 700px) {
    #searchBox {
        width: calc(100vw - 40px);
    }
}

#searchBox input {
    padding: 10px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border: none;
    outline: none;
    font-family: inherit;
}

#searchBox #searchBoxToolBar {
    display: flex;
    border-top: 1px solid var(--light-gray);
}

#searchBox #searchBoxToolBar div {
    color: var(--dark-gray);
    font-size: 12px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
}

#searchBox #searchBoxToolBar div:first-child {
    margin-left: 10px;
}

#searchBox>ul {
    overflow-y: overlay;
    max-height: 60vh;
}

#searchBox ul li {
    list-style: none;
    margin: 0;
}

#searchBox ul li .no-search-results {
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: var(--dark-gray);
    font-size: 12px;
}

#searchBox input:placeholder-shown~ul li .no-search-results,
#searchBox input:placeholder-shown~#searchBoxToolBar {
    display: none;
}

#searchBox ul li a {
    text-decoration: none;
    color: inherit;
    padding: 6px 10px;
    display: block;
    letter-spacing: .04em;
}

#searchBox ul li a .search-result-title {
    font-weight: 600;
    font-size: 14px;
}

#searchBox ul li a .search-result-title .search-result-title-heading {
    font-weight: 400;
}

#searchBox ul li a .search-result-title .separator {
    color: var(--dark-gray);
    font-weight: 300;
}

#searchBox ul li a .search-result-title .highlight-title {
    color: var(--red);
}

#searchBox input:focus~ul li:first-child a,
#searchBox ul li a:hover,
#searchBox ul li a:focus {
    outline: 0;
    background-color: var(--light-gray);
}

#searchBox ul li a .search-result-paragraphs {
    margin-top: 6px;
    color: var(--dark-gray);
    line-height: 1.5;
    word-break: break-all;
    padding-left: 16px;
    font-size:12px;
    -webkit-text-size-adjust: none !important;
}

#searchBox ul li a .search-result-paragraphs .search-result-paragraph {
    list-style: disc;
    line-height: 1.8;
}

#searchBox ul li a .search-result-paragraphs .search-result-paragraph:not(:last-child) {
    margin-bottom: 6px;
}

#searchBox ul li a .search-result-paragraphs .search-result-paragraph .highlight-paragraph {
    color: var(--red);
}